<div class="modal fade" id="createCompanyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Company</h4>
            </div>
            <div class="modal-body row">
                @Html.Action("CreateCompany", "Company")
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Create" form="companyForm" />
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="pull-right" style="padding-top:35px">
        <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#createCompanyModal" onclick="setModal('#createCompanyModal')">Kreiraj</a>
    </div>
</div>

<div class="form-group col-md-3" style="padding-right:0px">
    <div class="input-group">
        <input class="form-control" id="searchCompanies" type="search" placeholder="Pretrazi">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    </div>
</div>

<div id="result">
    @Html.Action("TableCompanies", "Company")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Custom/companies.js")
}
