@{
    ViewBag.Title = "Stranica nije pronađena";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Greška</title>
</head>
<body>
    <hgroup>
        <h1>404 Greška</h1>
        <h2>Stranica koju ste tražili nije pronađena</h2>
    </hgroup>

    @Html.ActionLink("Idi na početnu stranu", "Invoices", "Invoice")
</body>
</html>

