@model IEnumerable<Fakturiska.Models.InvoiceModel>

@{
    ViewBag.Title = "Upravljanje fakturama";
}

<div id="dimmerHome" class="dimmer">
    Prevucite fajlove ovde!
</div>

<div class="container">
    <div class="modal fade" id="invoiceModal" role="dialog">
        <div class="modal-dialog" style="width: 1000px;">
            <div id="dimmerModal" class="dimmer">
                Prevucite fajl ovde!
            </div>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="invoiceModalTitle">Dodaj novu fakturu</h4>
                </div>
                <div class="modal-body row" id="invoiceModalBody">
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" onclick="submitForm()">Potvrdi</a>
                    <a class="btn btn-danger" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right" style="padding-top:35px">
            <a class="btn btn-info btn-lg" onclick="createInvoice()">Dodaj novu</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="col-md-offset-8">Nove fakture</h2>
        </div>
    </div>

    <div class="form-group col-md-3" style="padding-right:0px">
        <div class="input-group">
            <input class="form-control" id="searchInvoices" type="search" placeholder="Pretraži">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        </div>
    </div>
    <div id="result">
        @Html.Action("TableInvoices", "Invoice")
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="col-md-offset-4">Pretraži arhivu faktura</h2>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3" style="padding-right:0px">
            <div class="input-group">
                <input class="form-control" id="searchArchive" type="search" placeholder="Pretraži">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            </div>
        </div>
        <div class="col-md-2" style="padding-left:0px;">
            <select id="categorySelect" class="selectpicker">
                <option value="0">Broj fakture</option>
                <option value="1">Datum kreiranja</option>
                <option value="7">Suma</option>
                <option value="8">Datum placanja</option>
                <option value="9">Prioritet</option>
                <option value="10">Primalac</option>
                <option value="11">Uplatilac</option>
            </select>
        </div>
        <div class="col-md-2" style="padding-left:25px">
            <select id="checkboxSelect" class="selectpicker" title="Odaberi..." multiple>
                <option value="2">Predračun</option>
                <option value="3">Račun</option>
                <option value="4">Ulazna</option>
                <option value="5">Plaćena</option>
                <option value="6">Problematična</option>
            </select>
        </div>
    </div>
    <div id="resultArchive">
        @Html.Action("TableArchivedInvoices", "Invoice")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/ScriptsCustom/invoices.js")
    @Scripts.Render("~/ScriptsCustom/invoice.js")
}

