@model IEnumerable<Fakturiska.Models.UserModel>

<div id="popover-head" class="hide">
    Kreiraj korisnika
</div>

<div id="popover-content" class="hide">
    Role:<br>
    <select id="roleSelect" class="form-control">
        <option value="1">Admin</option>
        <option value="2">User</option>
    </select>
    <br>
    Email:<br>
    <input id="userEmail" type="email" class="form-control">
    <br>
    <a class="btn btn-success pull-right" id="createUser" style="margin-bottom:20px">Submit</a>
</div> 

<div id="createUserForm" class="hide">
    Role:<br>
    <select id="roleSelect" class="form-control">
        <option value="1">Admin</option>
        <option value="2">User</option>
    </select>
    <br>
    Email:<br>
    <input id="userEmail" type="email" class="form-control">
    <br>
    <a class="btn btn-success pull-right" id="createUser" style="margin-bottom:20px">Submit</a>
</div>

<div class="row">
    <div class="pull-right" style="padding-top:35px">
        <a class="btn btn-info btn-lg" id="addUser" data-toggle="popover" data-placement="bottom">Kreiraj nalog</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="col-md-offset-10">Korisnici</h2>
    </div>
</div>
<div class="form-group col-md-3" style="padding-right:0px">
    <div class="input-group">
        <input class="form-control" id="searchUsers" type="search" placeholder="Pretrazi">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    </div>
</div>
<div id="result">
    @Html.Action("TableUsers", "User")
</div>

<div class="row">
    <div class="col-md-6 center-block">
        <h2 class="col-md-offset-4">Nepotvrdjeni korisnici</h2>
    </div>
</div>
<div class="form-group col-md-3" style="padding-right:0px">
    <div class="input-group">
        <input class="form-control" id="searchUsersWaiting" type="search" placeholder="Pretrazi">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    </div>
</div>
<div id="resultWaiting">
    @Html.Action("TableUsersWaiting", "User")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Custom/users.js")
}





